<!DOCTYPE html>
<html lang="en">

<head>
  <title>Event</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/users.js"></script>
</head>

<body>
  <h1>Event Details</h1>
  <details>
    <summary>Event Title</summary>
    <p><%= title %></p>
  </details>
  <details>
    <summary>Event Description</summary>
    <p><%= description %></p>
  </details>
  <details>
    <summary>Organizer Name</summary>
    <p><%= name %></p>
  </details>
  <details>
    <summary>Organizer Email</summary>
    <p><%= email %></p>
  </details>
  <details>
    <summary>Event Date</summary>
    <p><%= date %></p>
  </details>
  <details>
    <summary>Event Time</summary>
    <p><%= time %></p>
  </details>
</body>
</html>
